:root {
    --background-color: #050f0a;
    --container-color: rgb(34, 34, 34);
    --navbar-color: rgba(34, 34, 34, 0.201);
    --navbar-text-color: rgb(255, 255, 255);
    --navbar-hover-color: rgb(50, 50, 50);
    --footer-color: rgb(34, 34, 34);
    --footer-text-color: white;
    --accent-color: rgb(185, 123, 255);
    --accent-color-low: rgb(145, 72, 228);
    --accent-color-hover: rgb(174, 104, 255);
}

/* PAGE */
body {
    background-color: var(--background-color);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    z-index: 0;
    position: relative;
}

footer {
    background-color: var(--footer-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* BACKGROUND */
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  pointer-events: none;
}


/* NAVBAR */
nav {
  height: 55px;
  z-index: 20;
}
.navbar {
  background-color: var(--navbar-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.navbar a {
  text-decoration: none;
  color: var(--navbar-text-color);
  font-weight: bold;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.navbar a:hover {
  background-color: var(--navbar-hover-color);
  color: var(--accent-color);
}


/* BUTTON */
/* From Uiverse.io by satyamchaudharydev */ 
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.4rem;
  padding-inline: 0.7rem;
  background-color: var(--accent-color-low);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 16.5px;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
